<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
  </head>
  <body>
    <%- include('partials/navbar') %>
    <h1>Welcome to the ClubHouse!</h1>
    <a href="/signup">Sign up</a>
    <a href="/login">Log in</a>
  </body>
</html>
