<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <%- include('partials/navbar') %>
    <div class="container">
      <h1 class="center-h1">Login Page</h1>
      <%- include("partials/errors.ejs") %>
      <form action="/login" method="POST">
        <label for="email">Email:</label>
        <input
          type="email"
          id="email"
          name="email"
          value="<%= locals.formData ? formData.email : '' %>"
          required
        />
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />
        <button type="submit">Login</button>
      </form>
    </div>
  </body>
</html>
